In [61]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [64]:
dataSKST= pd.read_csv("./skstinfo.csv", header= None)

In [65]:
dataSKST.columns= ["SKU", "Store", "Cost", "Retail", "Unknow"]

In [66]:
dataSKU= pd.read_csv("./skuinfo.csv", usecols= [0,1,2,3,4,5,6,7,8,9,10], low_memory= False, header= None)

In [67]:
dataSKU.columns= ["SKU", "Dept", "Classid", "Upc", "Style", "Color", "Size", "Packsize", "Vendor", "Brand", "Unknow"]

In [68]:
dataStore= pd.read_csv("./strinfo.csv", header= None)

In [69]:
dataStore.columns = ["Store", "City", "State", "ZIP", "Unknow"]

In [70]:
dataDept= pd.read_csv("./deptinfo.csv", header= None)

In [71]:
dataDept.columns = ['DEPT','Deptdesc','Unknow']

In [72]:
dataTrnsact= pd.read_csv("./trnsact.csv", header= None)

In [73]:
dataTrnsact.columns= ["SKU", "Store", "Register", "Trannum", "Interid", "Saledate", "Stype", "Quantity", "Unknown", "AMT", "Orgprice", "SEQ", "MIC", "Unknow"]

In [74]:
dataTrnsactFinal= dataTrnsact[(dataTrnsact['Store']== 8402) & (dataTrnsact['Stype']== 'P')]

In [75]:
dataTrnsactFinal.head()

,SKU,Store,Register,Trannum,Interid,Saledate,Stype,Quantity,Unknown,AMT,Orgprice,SEQ,MIC,Unknow
259,131,8402,190,2100,168309157,2005-07-29,P,1,52.0,27.3,27.3,306800009,48,0
260,131,8402,190,6400,280309280,2005-06-23,P,1,52.0,52.0,52.0,286800004,48,0
479,164,8402,150,600,0,2005-08-10,P,1,20.0,20.0,20.0,352400005,822,0
480,164,8402,150,1100,0,2005-07-29,P,1,20.0,20.0,20.0,860200009,822,0
532,180,8402,240,2200,0,2005-07-18,P,1,25.0,25.0,25.0,395000004,735,0

In [76]:
dataTrnsactFinal['SKU'].value_counts()

4628597    6878
5528349    3007
4108011    2722
9230294    2309
3524026    2215
           ...
4193890       1
1988183       1
2389041       1
5148236       1
6316044       1
Name: SKU, Length: 199791, dtype: int64

In [77]:
dataSKU[dataSKU['SKU']==4628597]

,SKU,Dept,Classid,Upc,Style,Color,Size,Packsize,Vendor,Brand,Unknow
724862,4628597,800,009,400008597462,6F5X90,ORANGE GWP,GWP#2,36,5511283,CLINIQUE,0

In [78]:
Dept = 800

In [79]:
dataDept[dataDept['DEPT'] == Dept]

   DEPT  Deptdesc  Unknow
0   800  CLINIQUE       0

In [80]:
dataSKU[dataSKU['Dept'] == Dept]

,SKU,Dept,Classid,Upc,Style,Color,Size,Packsize,Vendor,Brand,Unknow
1160,7915,800,007,400007915000,649G,15SOFTFAIR,SOFT FINIS,3,5511283,CLINIQUE,0
1451,9633,800,007,400009633000,689U,01PALE,CITY BASE,3,5511283,CLINIQUE,0
1524,9951,800,007,400009951000,635P,11BLACK V,LL SHINE,3,5511283,CLINIQUE,0
1734,10896,800,007,400000896001,60QH,34NUDEBGE,SUPERBAL,3,5511283,CLINIQUE,0
2127,12790,800,009,400002790001,6AKM72,DIRECTORY,COLLATERAL,1,5511283,CLINIQUE,0
...,...,...,...,...,...,...,...,...,...,...,...
1562633,9989950,800,007,400009950998,635P,09DEEP 635P,*DISC,3,5511283,CLINIQUE,0
1563875,9998448,800,009,400008448999,6CEJ41,REPAIRWEAR,LOT SAMPLE,24,5511283,CLINIQUE,0
1563958,9998945,800,009,400008945999,6F6073,#4 BONUS LK,SP05 GWP,1,5511283,CLINIQUE,0
1563994,9999170,800,007,400009170999,608E,39LOVEY DOVE,PR SHADES,3,5511283,CLINIQUE,0
1564166,9999950,800,007,400009950999,635P,10BERRY,LL SHINE,3,5511283,CLINIQUE,0

In [81]:
DeptProduce = dataTrnsactFinal[dataTrnsactFinal['SKU'].isin(dataSKU[dataSKU['Dept'] == Dept]['SKU'])]

In [82]:
DeptProduce.shape

(120743, 14)

In [83]:
onehot= pd.get_dummies(DeptProduce['SKU'],prefix='SKU')

In [99]:
df= pd.concat([DeptProduce,onehot],axis=1)

In [100]:
df.head()

,SKU,Store,Register,Trannum,Interid,Saledate,Stype,Quantity,Unknown,AMT,...,SKU_9929950,SKU_9939950,SKU_9948061,SKU_9949950,SKU_9950895,SKU_9959950,SKU_9961037,SKU_9979950,SKU_9999170,SKU_9999950
78414,7915,8402,1,11200,19301830,2005-04-05,P,1,19.5,19.5,...,0,0,0,0,0,0,0,0,0,0
78415,7915,8402,51,2500,735900492,2005-04-05,P,1,19.5,19.5,...,0,0,0,0,0,0,0,0,0,0
78416,7915,8402,70,200,0,2004-08-07,P,1,19.5,19.5,...,0,0,0,0,0,0,0,0,0,0
78417,7915,8402,70,200,0,2004-09-10,P,1,19.5,19.5,...,0,0,0,0,0,0,0,0,0,0
78418,7915,8402,70,200,755002170,2004-11-20,P,1,19.5,19.5,...,0,0,0,0,0,0,0,0,0,0

In [101]:
df.drop(['SKU' , 'Store' , 'Interid' , 'Saledate' , 'Stype' , 'Quantity' , 'AMT' , 'Orgprice', 'MIC', 'Register', 'SEQ'], axis =1 , inplace = True)

In [102]:
df.drop([ 'Unknown','Unknow'], axis = 1 , inplace = True)

In [103]:
finalData = df.groupby(['Trannum']).sum()

In [104]:
finalData.shape

(474, 1085)

In [105]:
finalData[finalData>1]=1

In [113]:
finalData.head()

,SKU_7915,SKU_9633,SKU_9951,SKU_10896,SKU_17915,SKU_19171,SKU_19633,SKU_19951,SKU_20896,SKU_21329,...,SKU_9929950,SKU_9939950,SKU_9948061,SKU_9949950,SKU_9950895,SKU_9959950,SKU_9961037,SKU_9979950,SKU_9999170,SKU_9999950
Trannum,,,,,,,,,,,,,,,,,,,,,
100,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
200,1,1,0,0,1,0,1,1,0,0,...,0,1,0,0,0,1,0,0,1,1
201,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
300,1,0,0,0,1,0,1,1,0,0,...,1,0,0,1,0,0,0,0,1,0
301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [107]:
frequentItemsets = apriori(finalData , min_support=0.33, use_colnames=True)

In [108]:
frequentItemsets

      support                                           itemsets
0    0.394515                                       (SKU_726718)
1    0.392405                                       (SKU_803921)
2    0.331224                                      (SKU_1310252)
3    0.369198                                      (SKU_2072671)
4    0.364979                                      (SKU_2258366)
..        ...                                                ...
419  0.331224  (SKU_3978011, SKU_4108011, SKU_3161221, SKU_51...
420  0.331224  (SKU_3978011, SKU_4108011, SKU_4208011, SKU_46...
421  0.337553  (SKU_3978011, SKU_4108011, SKU_5108107, SKU_46...
422  0.335443  (SKU_4108011, SKU_4208011, SKU_5108107, SKU_46...
423  0.331224  (SKU_3978011, SKU_4108011, SKU_3161221, SKU_51...

[424 rows x 2 columns]

In [109]:
frequentItemsets.shape

(424, 2)

In [110]:
rules = association_rules(frequentItemsets, metric="lift", min_threshold=1)

In [111]:
rules.describe()

,antecedent support,consequent support,support,confidence,lift,leverage,conviction
count,2972.000000,2972.000000,2972.000000,2972.000000,2972.000000,2972.000000,2972.000000
mean,0.418973,0.418973,0.341927,0.837801,2.020358,0.169655,inf
std,0.077610,0.077610,0.013968,0.122656,0.239893,0.021045,NaN
min,0.331224,0.331224,0.331224,0.514754,1.495330,0.115673,1.373874
25%,0.362869,0.362869,0.333333,0.774038,1.918286,0.164975,2.798569
50%,0.394515,0.394515,0.337553,0.860215,2.046411,0.175495,4.300876
75%,0.438819,0.438819,0.345992,0.934451,2.183326,0.182708,8.162255
max,0.643460,0.643460,0.483122,1.000000,2.590795,0.203377,inf

In [112]:
rules[ rules['lift'] >= 2.5 ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
1626,"(SKU_2698353, SKU_3524026)","(SKU_5108107, SKU_3978011)",0.377637,0.352321,0.333333,0.882682,2.505336,0.200284,5.520695
1627,"(SKU_5108107, SKU_3978011)","(SKU_2698353, SKU_3524026)",0.352321,0.377637,0.333333,0.946108,2.505336,0.200284,11.548289
2562,"(SKU_2698353, SKU_4628597, SKU_4108011)","(SKU_3978011, SKU_3161221)",0.373418,0.354430,0.331224,0.887006,2.502623,0.198873,5.713291
2567,"(SKU_3978011, SKU_3161221)","(SKU_2698353, SKU_4628597, SKU_4108011)",0.354430,0.373418,0.331224,0.934524,2.502623,0.198873,9.569620
2618,"(SKU_5108107, SKU_3978011, SKU_4628597)","(SKU_2698353, SKU_3524026)",0.352321,0.377637,0.333333,0.946108,2.505336,0.200284,11.548289
2623,"(SKU_2698353, SKU_4628597, SKU_3524026)","(SKU_5108107, SKU_3978011)",0.377637,0.352321,0.333333,0.882682,2.505336,0.200284,5.520695
2626,"(SKU_5108107, SKU_3978011)","(SKU_2698353, SKU_4628597, SKU_3524026)",0.352321,0.377637,0.333333,0.946108,2.505336,0.200284,11.548289
2631,"(SKU_2698353, SKU_3524026)","(SKU_5108107, SKU_3978011, SKU_4628597)",0.377637,0.352321,0.333333,0.882682,2.505336,0.200284,5.520695
2706,"(SKU_5108107, SKU_3978011, SKU_4108011)","(SKU_3161221, SKU_3524026)",0.341772,0.386076,0.331224,0.969136,2.510221,0.199274,19.891139
2712,"(SKU_3161221, SKU_4108011, SKU_3524026)","(SKU_5108107, SKU_3978011)",0.362869,0.352321,0.331224,0.912791,2.590795,0.203377,7.426723
2713,"(SKU_5108107, SKU_4108011, SKU_3524026)","(SKU_3978011, SKU_3161221)",0.373418,0.354430,0.331224,0.887006,2.502623,0.198873,5.713291
2716,"(SKU_3978011, SKU_3161221)","(SKU_5108107, SKU_4108011, SKU_3524026)",0.354430,0.373418,0.331224,0.934524,2.502623,0.198873,9.569620
2717,"(SKU_5108107, SKU_3978011)","(SKU_3161221, SKU_4108011, SKU_3524026)",0.352321,0.362869,0.331224,0.940120,2.590795,0.203377,10.640084
2723,"(SKU_3161221, SKU_3524026)","(SKU_5108107, SKU_3978011, SKU_4108011)",0.386076,0.341772,0.331224,0.857923,2.510221,0.199274,4.632911
2919,"(SKU_5108107, SKU_3978011, SKU_4108011, SKU_46...","(SKU_3161221, SKU_3524026)",0.341772,0.386076,0.331224,0.969136,2.510221,0.199274,19.891139
2928,"(SKU_4628597, SKU_3161221, SKU_4108011, SKU_35...","(SKU_5108107, SKU_3978011)",0.362869,0.352321,0.331224,0.912791,2.590795,0.203377,7.426723
2929,"(SKU_5108107, SKU_4628597, SKU_4108011, SKU_35...","(SKU_3978011, SKU_3161221)",0.373418,0.354430,0.331224,0.887006,2.502623,0.198873,5.713291
2932,"(SKU_5108107, SKU_3978011, SKU_4108011)","(SKU_4628597, SKU_3161221, SKU_3524026)",0.341772,0.386076,0.331224,0.969136,2.510221,0.199274,19.891139
2936,"(SKU_3978011, SKU_3161221, SKU_4628597)","(SKU_5108107, SKU_4108011, SKU_3524026)",0.354430,0.373418,0.331224,0.934524,2.502623,0.198873,9.569620
2938,"(SKU_5108107, SKU_3978011, SKU_4628597)","(SKU_3161221, SKU_4108011, SKU_3524026)",0.352321,0.362869,0.331224,0.940120,2.590795,0.203377,10.640084
2943,"(SKU_3161221, SKU_4108011, SKU_3524026)","(SKU_5108107, SKU_3978011, SKU_4628597)",0.362869,0.352321,0.331224,0.912791,2.590795,0.203377,7.426723
2945,"(SKU_5108107, SKU_4108011, SKU_3524026)","(SKU_3978011, SKU_3161221, SKU_4628597)",0.373418,0.354430,0.331224,0.887006,2.502623,0.198873,5.713291
2949,"(SKU_4628597, SKU_3161221, SKU_3524026)","(SKU_5108107, SKU_3978011, SKU_4108011)",0.386076,0.341772,0.331224,0.857923,2.510221,0.199274,4.632911
2952,"(SKU_3978011, SKU_3161221)","(SKU_5108107, SKU_4628597, SKU_4108011, SKU_35...",0.354430,0.373418,0.331224,0.934524,2.502623,0.198873,9.569620
2953,"(SKU_5108107, SKU_3978011)","(SKU_4628597, SKU_3161221, SKU_4108011, SKU_35...",0.352321,0.362869,0.331224,0.940120,2.590795,0.203377,10.640084
2962,"(SKU_3161221, SKU_3524026)","(SKU_5108107, SKU_3978011, SKU_4108011, SKU_46...",0.386076,0.341772,0.331224,0.857923,2.510221,0.199274,4.632911

In [114]:
rules[(rules['lift']>=2.36)&(rules['lift']<=2.37) & rules['confidence']>=0.9]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
271,"(SKU_3559555, SKU_3524026)",(SKU_726718),0.356540,0.394515,0.333333,0.934911,2.369775,0.192673,9.302455
274,(SKU_726718),"(SKU_3559555, SKU_3524026)",0.394515,0.356540,0.333333,0.844920,2.369775,0.192673,4.149207
1271,"(SKU_3559555, SKU_4628597, SKU_3524026)",(SKU_726718),0.356540,0.394515,0.333333,0.934911,2.369775,0.192673,9.302455
1282,(SKU_726718),"(SKU_3559555, SKU_4628597, SKU_3524026)",0.394515,0.356540,0.333333,0.844920,2.369775,0.192673,4.149207
1470,"(SKU_2698353, SKU_3978011)","(SKU_3161221, SKU_3524026)",0.364979,0.386076,0.333333,0.913295,2.365583,0.192424,7.080591
1475,"(SKU_3161221, SKU_3524026)","(SKU_2698353, SKU_3978011)",0.386076,0.364979,0.333333,0.863388,2.365583,0.192424,4.648354
1526,"(SKU_2698353, SKU_3978011)","(SKU_3161221, SKU_4108011)",0.364979,0.383966,0.331224,0.907514,2.363527,0.191084,6.660865
1531,"(SKU_3161221, SKU_4108011)","(SKU_2698353, SKU_3978011)",0.383966,0.364979,0.331224,0.862637,2.363527,0.191084,4.622954
1624,"(SKU_2698353, SKU_5108107)","(SKU_3978011, SKU_3524026)",0.362869,0.388186,0.333333,0.918605,2.366405,0.192473,7.516576
1629,"(SKU_3978011, SKU_3524026)","(SKU_2698353, SKU_5108107)",0.388186,0.362869,0.333333,0.858696,2.366405,0.192473,4.508926
2471,"(SKU_2698353, SKU_4628597, SKU_3161221)","(SKU_3978011, SKU_3524026)",0.362869,0.388186,0.333333,0.918605,2.366405,0.192473,7.516576
2474,"(SKU_4628597, SKU_3161221, SKU_3524026)","(SKU_2698353, SKU_3978011)",0.386076,0.364979,0.333333,0.863388,2.365583,0.192424,4.648354
2475,"(SKU_2698353, SKU_3978011)","(SKU_4628597, SKU_3161221, SKU_3524026)",0.364979,0.386076,0.333333,0.913295,2.365583,0.192424,7.080591
2478,"(SKU_3978011, SKU_3524026)","(SKU_2698353, SKU_4628597, SKU_3161221)",0.388186,0.362869,0.333333,0.858696,2.366405,0.192473,4.508926
2563,"(SKU_4628597, SKU_3161221, SKU_4108011)","(SKU_2698353, SKU_3978011)",0.383966,0.364979,0.331224,0.862637,2.363527,0.191084,4.622954
2566,"(SKU_2698353, SKU_3978011)","(SKU_4628597, SKU_3161221, SKU_4108011)",0.364979,0.383966,0.331224,0.907514,2.363527,0.191084,6.660865
2620,"(SKU_3978011, SKU_3524026, SKU_4628597)","(SKU_2698353, SKU_5108107)",0.388186,0.362869,0.333333,0.858696,2.366405,0.192473,4.508926
2621,"(SKU_2698353, SKU_5108107, SKU_4628597)","(SKU_3978011, SKU_3524026)",0.362869,0.388186,0.333333,0.918605,2.366405,0.192473,7.516576
2628,"(SKU_3978011, SKU_3524026)","(SKU_2698353, SKU_5108107, SKU_4628597)",0.388186,0.362869,0.333333,0.858696,2.366405,0.192473,4.508926
2629,"(SKU_2698353, SKU_5108107)","(SKU_3978011, SKU_3524026, SKU_4628597)",0.362869,0.388186,0.333333,0.918605,2.366405,0.192473,7.516576